body {
    font-family: Arial, sans-serif;
    background-color: #141313;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #bbbbbb;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.balance {
    text-align: center;
    margin-bottom: 30px;
}

.transaction {
    margin-bottom: 20px;
}
.transaction button {
    margin-top: 10px; /* Add a margin above the button */
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #b3bed8;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #28ac46;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #d65206;
}
